<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b>Description:</b>
  <%= @album.description %>
</p>

<p>
  <b>Price:</b>
  <%= @album.price %>
</p>

<p>
  <b>Artistid:</b>
  <%= @album.artistid %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
